body {
  width: 100vw;
}

* {
  font-size: 14px;
  color: #071e55;
  font-family: 'Cabin', sans-serif;
  font-style: normal !important;
  transition: all 0.3s ease;
  scroll-behavior: smooth;
}

button {
  outline: none;
  cursor: pointer;
}

button:focus {
  outline: none;
}

i {
  font-weight: 900 !important;
}

a {
  text-decoration: none !important;
}

h1 {
  font-size: 3rem;
}

p {
  font-family: 'Raleway', sans-serif;
  font-weight: lighter;
  color: #405263;
  letter-spacing: 0.5px;
  opacity: 0.8;
  font-size: 1.2rem;
  line-height: 2rem;
}

h3 {
  font-size: 1.4rem;
  opacity: 0.8;
  padding-top: 5px;
  padding-bottom: 5px;
}

span {
  font-family: 'Raleway', sans-serif;
  font-weight: lighter;
  color: #405263;
  letter-spacing: 0.5px;
}

figure {
  display: inline-block;
  position: relative;
}

figure.img-wrap>img {
  border-radius: 10px;
  box-shadow: 0px 5px 40px 0 rgba(0, 0, 0, 0.35);
}

/* Navigation Bar */
.navbar-nav>li>a {
  color: #071e55;
  text-transform: uppercase;
  padding: 10px 14px;
  line-height: 1.8rem;
}

current {
  background-color: #1089d4 !important;
}

current:hover {
  background-color: #1089d4 !important;
}

.btn-discover {
  color: white !important;
  background: #1089d4;
  border: 1px solid #1089d4;
  border-radius: 11px 11px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.5px;
  margin-left: 1rem;
}

.btn-discover:hover {
  color: #1089d4 !important;
  background: white;
}

.navbar-brand {
  color: #071e55 !important;
}

#btn-collapse {
  background-color: white;
  border: 1px solid #1089d4;
}

#btn-collapse>i {
  color: #1089d4;
}

.navbar-brand:hover {
  color: #1089d4 !important;
}

.navbar-toggler>span>i {
  color: #1089d4;
  font-size: 1.6rem;
}

.navbar-toggler {
  border: 1px solid #1089d4;
  border-radius: 2px;
  display: none;
}

/* Home */
#home {
  z-index: 100;
  padding-top: 92px;
  margin-top: -92px;
}

.home-span {
  font-size: 1.4rem;
  opacity: 0.9;
}

.home-span>i {
  color: #1089d4;
  font-size: 1.5rem;
  padding-right: 0.4rem;
}

.img-wrap>img {
  width: inherit;
  height: inherit;
}

.email-home {
  font-weight: 100;
  font-family: 'Raleway', sans-serif;
  border: 1px solid #bebebe;
  border-radius: 30px 30px;
  color: #454545;
  font-size: 1.2rem;
}

.email-home::placeholder {
  font-weight: 100 !important;
  font-family: 'Raleway', sans-serif;
  color: #ebebeb;
}

.email-home:focus {
  border: 1px solid #1089d4;
  color: #1089d4;
}

.btn-discover-home {
  color: white !important;
  background: #1089d4;
  border: 1px solid #1089d4;
  border-radius: 30px 30px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.btn-discover-home:hover {
  background-color: #086faf;
  cursor: pointer;
}

.box-home-description * {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* About */
#about {
  z-index: 99;
  padding-top: 92px;
  margin-top: -92px;
}

.about-label>span {
  font-size: 1.3rem;
  opacity: 0.8;
}

.about-features-content {
  border-radius: 10px;
  border: 1px solid #ebebeb;
  background-color: #fff;
}

.about-features-content>div>i {
  font-size: 3.5rem;
  opacity: 0.8;
}

.about-features-highlight {
  border-bottom: 2px solid #1089d4;
}

.popup-video {
  position: absolute;
  background-color: white;
  padding: 24px 28px;
  border: 1px solid transparent;
  border-radius: 50px;
  top: 50%;
  left: 50%;
  margin-top: -30px;
  margin-left: -30px;
  cursor: pointer;
}

.popup-video>i {
  color: #1089d4;
  font-size: 2.2rem;
}

.btn-blue-shadow {
  color: white;
  background: #1089d4;
  border: 0px solid #1089d4;
  border-radius: 6px 6px;
  font-weight: 600;
  font-size: 1.2rem;
  letter-spacing: 0.5px;
  margin-left: 1rem;
  box-shadow: 0px 5px 34px 0 rgba(0, 0, 0, 0.25);
}

.btn-blue-shadow:hover {
  box-shadow: -5px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

/* ShowCase */
.bg-blue {
  background-color: #1e90ff !important;
}

#showcase {
  z-index: 98;
  padding-top: 92px;
  margin-top: -92px;
}

.showcase-label>h1 {
  color: white;
}

.showcase-label>span {
  font-size: 1.3rem;
  font-family: 'Raleway', sans-serif;
  color: white;
  letter-spacing: 0.5px;
}

.swiper-container {
  width: 100%;
  height: 300px;
  cursor: grab;
}

.swiper-slide {
  text-align: center;
  font-size: 1.3rem;
  background: #fff;
}

/* Testimonials */
#testimonials {
  z-index: 97;
  padding-top: 92px;
  margin-top: -92px;
}

.testimonials-logo {
  opacity: 0.5;
}

.testimonials-logo:hover {
  opacity: 0.9;
}

.card {
  position: relative;
  border-radius: 10px;
  border-bottom: 2px solid #e0e0e0;
  box-shadow: rgba(33, 33, 33, .055) 0 4px 24px 5px;
  transition: all 1s ease;
}

.card:hover {
  border-bottom: 2px solid #1089d4;
  transition: all 1s ease;
}

.card-container>div {
  padding-top: 30px;
}

.card-box>div>i {
  color: #fdcc28;
  font-size: 1.3rem;
}

.card-box h4 {
  color: #1e90ff;
  font-size: 1.1rem;
  font-weight: 700;
  font-family: 'Raleway', sans-serif;
  margin: 12px 0px;
}

.card-box p {
  font-style: italic !important;
  line-height: 1.6rem;
  padding: 5px 0px;
}

.card-box {
  padding-top: 60px;
  padding-bottom: 30px;
}

.card-avatar {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  border-radius: 1px solid transparent;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15);
  position: absolute;
  top: -60px;
  left: 50%;
  margin-left: -55px;
  /*this value = half of width*/
  background-color: white;
}

.card-avatar>img {
  border-radius: 10px solid white;
  border-radius: 50%;
  width: 90%;
  height: 90%;
}

.question-header {
  border: 0px solid transparent;
  border-bottom: 1px solid #ebebeb;
  padding: 8px 0;
}

.question-header>button {
  background-color: transparent;
  border: 0px;
  font-size: 1.3rem;
  cursor: pointer;
  outline: none;
}

.question-text {
  padding-top: 8px;
  padding-bottom: 0px;
  border-top: 2px solid #1e90ff;
  display: none;
}

.more-question {
  border-top: 3px solid #1e90ff !important;
  border: 1px solid #ebebeb;
  border-radius: 10px;
  padding: 40px 0;
}

/* Pricing */
#pricing {
  padding-top: 92px;
  margin-top: -92px;
  z-index: 96;
}

#pricing>div {
  border: 1px solid #ebebeb;
  padding: 70px 0px;
}

.pricing-box {
  box-shadow: rgba(33, 33, 33, .06) 0 4px 24px 5px;
  border-radius: 10px;
  border: 1px solid transparent;
  border-bottom: 3px solid #e0e0e0;
  transition: all 0.5s ease;
}

.pricing-box:hover {
  border-bottom: 3px solid #1e90ff;
  transition: all 0.5s ease;
}

.pricing-box-highlight {
  border-bottom: 3px solid #1e90ff !important;
}

.pricing-box h1 {
  font-size: 5.3rem;
  margin-top: 10px;
  margin-bottom: 5px;
}

.pricing-box h5 {
  font-size: 1.4rem;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #1089d4;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
}

.pricing-box span {
  font-family: 'Raleway', sans-serif;
  font-size: 1.1rem;
  line-height: 2rem;
  font-weight: 600;
  color: #878787;
}

.pricing-box button {
  text-transform: uppercase;
  background-color: white;
  border: 1px solid #1089d4;
  border-radius: 5px;
  color: #1089d4;
  padding: 15px 30px;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
  font-size: 1.1rem;
  transition: 0.5s all ease;
}

.pricing-box button:hover {
  transition: 0.5s all ease;
  background-color: #037aef !important;
  color: white;
}

.pricing-box-highlight button {
  ;
  background-color: #1e90ff !important;
  color: white !important;
}

.pricing-box-features {
  margin: 30px 0px;
}

.pricing-box-features p {
  font-family: 'Raleway', sans-serif;
  font-size: 1.15rem;
  line-height: 2rem;
  margin-bottom: 7px;
  opacity: 0.9;
  color: #6a6a6a;
}

.pricing-box-features p i {
  margin-right: 7px;
  color: #017df7;
}

.ribbon {
  position: absolute;
  right: 8px;
  top: -5px;
  z-index: 97;
  /*Because pricing's z-index is 96*/
  overflow: hidden;
  width: 75px;
  height: 75px;
}

.ribbon span {
  font-size: 0.75rem;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 20px;
  transform: rotate(45deg);
  width: 100px;
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px;
  right: -21px;
  background-color: #1e90ff;
}

.ribbon span::before {
  content: '';
  position: absolute;
  left: 0px;
  top: 100%;
  z-index: -1;
  border-left: 3px solid #79A70A;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #79A70A;
  border-left-color: #1e5799;
  border-top-color: #1e5799;
}

.ribbon span::after {
  content: '';
  position: absolute;
  right: 0%;
  top: 100%;
  z-index: -1;
  border-right: 3px solid #79A70A;
  border-left: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #79A70A;
  border-right-color: #1e5799;
  border-top-color: #1e5799;
}

.pricing-header h1 {
  font-size: 2.8rem !important;
}

.pricing-header span {
  font-size: 1.3rem !important;
  opacity: 0.8 !important;
}

.pricing-strong {
  opacity: 1.0;
  font-weight: 600;
}

.fact-header h2 {
  color: white;
  font-size: 2.2rem;
  margin-bottom: 15px;
}

.fact-header span {
  color: white;
  font-size: 1.2rem;
  font-family: 'Raleway', sans-serif;
}

.fact-header {
  margin-bottom: 40px;
}

.fact-content i {
  font-size: 3.7rem;
  color: white;
  /* margin-bottom: 10px; */
}

.fact-content h5 {
  color: white;
  font-size: 2rem;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
}

.fact-content span {
  color: white;
  font-style: italic !important;
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
}

/* Team */
#team {
  padding-top: 92px;
  margin-top: -92px;
  z-index: 95;
}

.team-container {
  padding: 90px 0px;
}

.team-headder h1 {
  font-size: 2.5rem;
}

.team-avatar-box {
  width: 190px;
  height: 190px;
  border-radius: 50%;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.11);
  margin-bottom: 20px;
}

.team-avatar-box>img {
  width: 90%;
  height: 90%;
  border-radius: 50%;
}

.team-box {
  margin-top: 60px;
}

.team-header {
  /* padding-top: 70px; */
}

.team-header>span {
  color: #7c8595;
  font-family: 'Raleway', sans-serif;
  font-size: 1.3rem;
}

.team-box h5::after {
  background: #1e90ff;
  display: block;
  vertical-align: middle;
  content: '';
  width: 50px;
  height: 3px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.team-header>h1 {
  font-size: 2.5rem;
}

.team-box>p {
  letter-spacing: 0.3px;
}

.team-box>h4 {
  color: #454545;
  font-size: 1.3rem;
  padding-top: 10px;
  font-weight: bold;
}

.team-box>h5 {
  color: #acacac;
  font-style: italic !important;
  font-family: 'Raleway', sans-serif;
}

.team-contact {
  margin-top: 25px;
}

.team-contact>a {
  border-radius: 75px;
  margin-left: 5px;
  margin-right: 5px;
}

.team-contact>a>i {
  color: white;
  font-size: 1.1rem;
  margin: 0 auto;
  width: 35px;
  height: 35px;
  padding: 9px 10px;
}

a.twitter {
  background-color: #4099ff;
}

a.pinterest {
  background-color: #C92228;
}

a.linkedin {
  background-color: #3b5998;
}

a.github {
  background-color: #24292e;
}

.team-textbox h3 {
  font-size: 1.8rem;
  opacity: 1.0;
}

.team-logo-wrapper i {
  font-size: 4rem;
  color: white;
  border-radius: 50%;
}

.team-logo-wrapper {
  background-color: #017df7;
  border-radius: 50%;
  width: 80px;
  height: 80px;
}

.team-textbox {
  padding: 14px 0px;
}

/* Responsive */
@media only screen and (max-width: 1200px) {
  * {
    font-size: 12px;
  }
}

@media only screen and (max-width: 992px) {
  .btn-discover {
    margin-left: 0px;
  }
}

@media only screen and (max-width: 768px) {
  .fact-container {
    display: none;
  }

  .navbar-nav>li>a {
    font-size: 1.5rem !important;
  }

  .card-container>div {
    padding-top: 80px;
  }
}

@media only screen and (max-width: 576px) {
  .team-logo-wrapper {
    display: none !important;
  }
}
